//COLORS
$black: #000000;
$white: #ffffff;
$piggy: #EFD9DE;
$pink: #E5BCC3;
$rose: #A04D55;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Roboto:wght@100;400&display=swap');

//Fonts
$heading: 'Playfair Display', serif;
$text: 'Roboto', sans-serif;

//FONT WEIGHT

$bold: 500;
$regular: 400;
$thin: 100;