//MIXINS
//small devices
@mixin for-phone-only {
  @media (max-width: 576px) and (min-width: 350px) { @content; }
}
//Media (>= 768px)
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) and (max-width: 720px) { @content; }
}
// Large (desktops, >=992px)
@mixin for-desktops {
  @media (min-width: 992px) and (max-width: 960px){ @content; }
}
// X-Large (lg desktops, >= 1200px)
@mixin for-big-desktop-up {
  @media (min-width: 1200px) and (max-width: 1140px) { @content; }
}
//XX-Large (large desktops, >= 1400px)
@mixin for-xxl {
    @media (min-width: 1400px ) and (max-width: 1320px){@content}
}


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;



// Grid containers
//Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
