//COLORS
$white: #ffffff;
$black: #000000;
$text-black: #1D1E18;
$purple: #2E1760;
$royalPurple: #704E9E;
$greyPurple: #B1A0C8;
$lightestPurple: #B184D8;
$grayish: #f1f1f1;
$fuscia: #A26691;

//FONTWEIGHTS
$thin: 100;
$xtlight: 200;
$light: 300;
$regular: 400;
$medium: 500;