@import 'variables';

.heading-block {
    .heading {
        border: 2px solid $navy;
        width: 100%;
        padding: 4px;
        word-wrap: wrap;
        display: inline;
        font-size: 13px;
        font-family: $main;
        text-transform: uppercase;
        font-weight: $bold;
    }
    margin-bottom: 20px;

}

.text-block {
    .block-content{

        color: $navy;
        &.rg-content {
            font-weight: $bold;
            font-size: 13px;
            line-height: 25px;
        }
        &.lg-content {
            font-size: 32px;
            line-height: 46px;
            font-weight: $bold;
        }
    }
}

.projects{
    margin: 75px auto;
}

.projects {
    .projectCard {
        border-radius: 0px;
        margin-bottom: 25px;
        .meta {
            padding: 20px;
            font-family: $main;
            h5 {
                font-weight: $thin;
                font-size: 28px;
                margin-bottom: 5px;
                line-height: 28px;
            }
            .project-type {
                font-size: 16px;
                font-weight: $regular;
                font-style: italic;
                margin: 0px;
                padding: 0px;

            }
        }
    }
}

//RESUME
.workCard,
.eduCard{
    margin-bottom: 30px;
    .dateRange {
        font-weight: $regular;
        font-size: 13px;
        margin-bottom: 5px;
    }
    .position-title,
    .edu-School {
        font-weight: $bold;
        font-size: 33.25px;
        margin-bottom: 5px;
    }
    .position-company,
    .edu-degree {
        font-weight: $thin;
        font-size: 20px;
        margin-bottom: 10px;
        font-style: italic;
        
        span.position-location {
            font-weight: $regular;
            font-style: normal;
            font-size: 15px;
        }
    }
    .position-summary {
        font-size: 15px;
        line-height: 24px;
    }
}

section {
    margin-bottom: 60px;
}

//DOWNLOAD BUTTON
.btn {
    width: 200px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    background-color: $navy;
    font-size: 12px;

    &:hover {
        border: 2px solid $navy;
        color: $navy;
        background-color: transparent;
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover{
            color: $navy;
        }
    }
}

//Portfolio
.portfolio-page {
    .heading-block {
        text-align: center;
        margin-bottom: 60px;
    }
    .portfolio {
        .project-inner {
            .projectCard {
                margin-bottom: 40px;
            }
        }
    }
    .portfolio-controls {
        width: 750px;
        margin: 30px auto 80px auto;
            .filter {
                color: #334455 !important;
                font-family: $main;
                padding: 0.5rem 4rem;
                font-size: 19.33px;
                font-weight: $regular;
                text-decoration: none;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border color 0.15s ease-in-out;
    
                &.active {
                    background-color: $purple;
                    color: #ffffff !important;
                }
                &:hover {
                    border-bottom: 2px solid black;
                }
            }
        }
}



//CONTACT

.contactPage {
    .contact-form {
        .formInput {
            padding: 0rem 0.75rem !important;
            border: none;
            border-bottom: 1.75px solid #000000;
            border-radius: 0px;
            margin-bottom: 20px;
        }
        .formButton {
            margin-top: 30px;
        }
        margin-bottom: 75px;
    }
    .QuickContact {
        .contactInfo {
            p {
                font-weight: $bold; //change to medium
                a {
                    font-weight: $regular !important;
                    text-decoration: none;
                    color: #000000 !important;
                }


            }
        }
        
    }

    .mapComponent {
        .availablity-block {
            h2 {
                font-weight: $bold;
                margin-bottom: 18px;
            }

            .availability-content {
                line-height: 1.5em;
            }
            margin-bottom: 40px;
        }
        .map {
            height: 500px;
            object-fit: cover;
        }
    }
    .heading {
        text-transform: uppercase;
        font-weight: $bold;
        color: $navy;
        margin-bottom: 18px;
        
    }
    margin: 50px auto 75px auto;

}